.counter {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }
  
  .counter-item {
    flex: 1;
    padding: 20px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
    animation: counter-entry 0.5s forwards;
    position: relative;
    cursor: pointer;
  }
  
  .counter-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .counter-item h2 {
    font-size: 48px;
    margin: 0;
    color: white;
    transition: color 0.5s;
  }
  
  .counter-item p {
    margin: 0;
    font-weight: 1000;
    font-size: medium;
  }
  
  .counter-item .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
  }
  
  .counter-item.students {
    background-color: #FF6384;
  }
  
  .counter-item.staff {
    background-color: #36A2EB;
  }
  
  .counter-item.events {
    background-color: #FFCE56;
  }
  
  .counter-item.colleges {
    background-color: #4BC0C0;
  }
  
  @keyframes counter-entry {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes counter-exit {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  
  @media (max-width: 768px) {
    .counter {
      flex-wrap: wrap;
    }
    .counter-item {
      flex: 0 0 50%;
    }
  }
  
  @media (max-width: 480px) {
    .counter-item {
      flex: 0 0 100%;
    }
  }